.heading {
    background-color: #6F4E37;
    color: white;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
}
h2.heading {
    box-sizing: border-box;
    padding: 10px;
    font-size: large;
}

div {
    display: block;
    width: 300px;
    padding: 20px;
    margin: auto;
    background-color: #e7bfa2;
}

a:link, a:visited {
  background-color: #6F4E37;
  color: white;
  padding: 10px 10px;
  display: block;
}

a:hover, a:active {
  background-color: #b38b6f;
}

img {
    border: #6F4E37 solid 5px;
    display: block;
    margin: auto;
}

.recipe-background {
    background-color: #b38b6f;
    width: 700px;
    border: #6F4E37 solid 5px;
}